body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
header, section{
    padding: 15px;
}

.menu{
    text-align: left;
}

.pic-info img{
    width: 450px;
    height: 450px;
    border-radius: 450px;
    object-fit: cover;
    margin-right: 150px !important;
}

.brand img{
    height: 0 auto;
    object-fit: cover;
}

.info-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;

}

.info-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.info-name h1{
    font-size: 70px;
    color: #102A42;
    padding: 0 auto;
    margin-bottom: 0;
}

.info-name span{
    color: #617DA5;
    font-weight: 400 !important;
}

#about{
    background-color: ashgrey;
}

footer .container{
    text-align: center;;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}


header{
    background-image: linear-gradient(to right, #E0FCFF 65% , white 35%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
  
.menu-toggle {
    display: none;
    cursor: pointer;
}
  
.hamburger {
    width: 25px;
    height: 3px;
    background-color: #111;
    margin: 5px 0;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin-right: 65px;
}
  
  .menu ul li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;  
    color: #102a42;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: rgba(51, 51, 51, 0.7);
      width: 100%;
    }
  
    .menu.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  
    .menu ul li {
      margin: 10px 0;
    }

    .info-center{
        justify-content: center;
        align-items: center;
    }

    .pic-info img{
        text-align: center;
        margin-right: 0 !important;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 635px){
    .pic-info img{
        width: 250px;
        height: 250px;
        border-radius: 250px;
        text-align: center;
        margin-right: 0 !important;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 397px){
    .info-name h1{
        font-size: 60px !important;
    }
}
a:hover {
    color: #ffcc00;
}

section {
    margin: 40px 0;
}

h2 {
    text-align: center;
    color: #333;
}
/**    position: relative;
}
h2::after{
    position: absolute;
    content: '';
    width: 10%;
    height: 10px;
    left: 47.5%;
    top: 86%;
    background-color: red;
}
**/

#resume{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projects{
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

a:link { 
    text-decoration: none; 
} 
  a:visited { 
    text-decoration: none; 
} 
  a:hover { 
    text-decoration: none; 
} 
  a:active { 
    text-decoration: none; 
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #891448;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
